app01/.vscode/launch.json
app01/db.sqlite3
*.pyc
local.py
app01/app01/settings/local.py
**/migrations/!(__init__.py)
app01/applications/base/migrations/0001_initial.py
app01/applications/empresa/migrations/0001_initial.py
app01/applications/usuario/migrations/0001_initial.py
